@model IEnumerable<SpellChecker.Models.SpellbookListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Spellbook", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Spellbook Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SpellbookName)
        </td>
        <td>
            @Html.ActionLink("Select", "") |
            @Html.ActionLink("Details", "Details", new { id=item.SpellbookId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SpellbookId })
        </td>
    </tr>
}

</table>
