@model SpellChecker.Models.SpellDetailModel

@{
    ViewBag.Title = "Details";
}

<h2>Spell Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Spell Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpellName)
        </dd>

        <dt>
            Spell Level
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpellLevel)
        </dd>

        <dt>
            Spell School
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpellSchool)
        </dd>

        <dt>
            Casting Time
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CastingTime)
        </dd>

        <dt>
            Range
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpellRange)
        </dd>

        <dt>
            Verbal Components
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VComponents)
        </dd>

        <dt>
            Somatic Components
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SComponents)
        </dd>

        <dt>
            Material Components?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasMComponents)
        </dd>

        <dt>
            Expensive Material Components
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasExpensiveMComponents)
        </dd>

        <dt>
            Material Components
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MComponents)
        </dd>

        <dt>
            Duration
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            Concentration
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Concentration)
        </dd>

        <dt>
            Ritual
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ritual)
        </dd>

        <dt>
            Spell Text
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpellTextA)
        </dd>

        <dt>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpellTextB)
        </dd>

        <dt>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpellTextC)
        </dd>

        <dt>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpellTextD)
        </dd>

        <dt>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpellTextE)
        </dd>

        <dt>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpellTextF)
        </dd>

        <dt>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpellTextG)
        </dd>

        <dt>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpellTextH)
        </dd>

        <dt>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpellTextI)
        </dd>

        <dt>
            Sourcebook
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpellSource)
        </dd>

        @{
            string lists = "";

            if (Model.BrdSpell == true)
            {
                lists += "Bards, ";
            }

            if (Model.ClrSpell == true)
            {
                lists += "Clerics, ";
            }

            if (Model.DrdSpell == true)
            {
                lists += "Druids, ";
            }

            if (Model.PalSpell == true)
            {
                lists += "Paladins, ";
            }

            if (Model.RngSpell == true)
            {
                lists += "Rangers, ";
            }

            if (Model.SorSpell == true)
            {
                lists += "Sorcerers, ";
            }

            if (Model.WarSpell == true)
            {
                lists += "Warlocks, ";
            }

            if (Model.WizSpell == true)
            {
                lists += "Wizards";
            }

            lists.Trim(' ', ',');
        }
    </dl>

    <p>A spell for @lists</p>
</div>
<p>
    @Html.ActionLink("Back to Spell Index", "Index")
</p>
