@model IEnumerable<SpellChecker.Models.SpellListItem>

@{
    ViewBag.Title = "Spell Index";
}

<h2>Spell Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SpellName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpellLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpellSchool)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CastingTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpellRange)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VComponents)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SComponents)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasMComponents)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SpellName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpellLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpellSchool)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CastingTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpellRange)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VComponents)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SComponents)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasMComponents)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
